* {
    font-family: "Poppins";
    box-sizing: border-box;
}

:root {
    --primary-color: #000958;
    --sub-color: #ff5b2e;
    --text--color: #656689;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* common */
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    font-family: inherit;
    border: none;
    background: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.btn {
    border-radius: 31px;
    border: 1px solid var(--sub-color);
    color: #ff5b2e;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 1; /* 100% */
}

/* Header */

.header-nav {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    gap: 36px;
}

.navigation__item {
    color: #5e6085;
    font-size: 14px;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.navigation__item:hover {
    color: var(--primary-color);
    font-weight: 700;
}

.header__btn {
    width: 117px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 25px;
    border-color: #000958;
    opacity: 0.7;
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 700;
}

/* hero */
.hero {
    margin: 100px 0;
    padding-bottom: 77px;
}

.hero__container {
    display: flex;
}

.hero-media {
    position: relative;
    display: flex;
}

.hero__img-wrap {
    position: relative;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}

.hero_img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    right: -44px;
    top: 17px;
}

.hero__img-wrap__small {
    align-self: flex-end;
    background: #faa7ad;
    width: 186px;
    height: 244px;
    left: -20px;
    bottom: -58px;
}

.hero__info {
    position: absolute;
    bottom: -94px;
    left: 130px;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero__info-container {
    margin: 18px 14px;
}

.hero__item {
    display: flex;
}
.hero__item-wrap {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #fec23f;
}

.hero__item-img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.hero__item-br {
    width: 222px;
    height: 2px;
    background: #f2f2f2;
    margin: 21px auto;
}

.hero__item-inner {
    margin-left: 9px;
}

.hero__item-name {
    color: var(--primary-color);
    margin-top: 2px;
    font-family: Sora;
    font-size: 14px;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero__item-br-top,
.hero__item-br-bot {
    width: 118px;
    height: 4px;
    margin: 7px 0;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}
.hero__item-br-bot {
    width: 39px;
}

.hero__content {
    margin: 71px 0 0 120px;
}
.hero__content-title {
    margin-bottom: 24px;
    width: 517px;
    color: var(--primary-color);
    font-family: Sora;
    font-size: 66px;
    font-weight: 800;
    line-height: 76px; /* 115.152% */
}

.hero__content-desc {
    width: 391px;
    color: var(--text--color);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}

.hero__content-row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__btn {
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 189px;
    height: 60px;
    flex-shrink: 0;
    background-color: var(--sub-color);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__btn-text {
    margin: 0 10px 0 15px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.hero_content-link {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration-line: underline;
}

/*  about */

.about {
    padding-top: 53px;
}

.about__container {
    display: flex;
}

.about__content {
    margin-top: 69px;
}

.about__content span {
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.about__content-title {
    margin: 18px 0 24px;
    width: 446px;
    color: var(--primary-color);
    font-family: sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
}

.about__content-desc {
    margin-bottom: 54px;
    width: 431px;
    color: var(--text--color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
}

.about__content-row {
    display: flex;
    margin-bottom: 37px;
}

.about__item {
    display: flex;
    align-items: center;
    min-width: 250px;
    margin-right: 36px;
}

.about__item-text {
    margin-bottom: 9px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.about__media {
    position: relative;
    width: 50%;
}

.about__media-wrap {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 494px;
    height: 336px;
    border-radius: 16px;
    background: #fce0ef;
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}

.about__media-img {
    position: absolute;
    bottom: 0;
}

.about__media-decor {
    position: absolute;
    right: -50px;
    top: -66px;
    z-index: -1;
}

.about__media-tag {
    position: absolute;
    text-align: center;
    top: -58px;
    left: -92px;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__media-tag span {
    display: flex;
    justify-content: center;
    margin-top: 31px;
    color: #fff;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1; /* 100% */
}
.about__media-tag p {
    width: 83px;
    color: #c6f4f9;
    text-align: center;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.43; /* 142.857% */
}

.about__media-tag img {
    position: absolute;
    top: -40px;
    right: -30px;
}
